:root {
    --pizza-red: #ff725a;
    --pizza-white: #F8F7F3;
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.py-6 {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
  }

header, footer{
    background: var(--pizza-red);
}

footer{
    height:100px;
}

body {
    background: var(--pizza-white);
    font-family: 'Nunito', sans-serif;
}

.navbar-brand {
    font-size: 3rem;
    font-family: 'Pacifico', cursive;
}

#masthead{
    background: url("../images/pizza-triangle.png") no-repeat top scroll;
}

#neapolitan, #menu, #carousel {
    background: var(--pizza-red);
}

#white-menu
{
    background: var(--pizza-white);
}

.carousel-pizza-image{
    width: 100%;
    height:300px;
    background-color: var(--pizza-white);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

@media (min-width: 768px) {
    .carousel-pizza-image{
        height:500px;
    }
  }

.splide__pagination {
    bottom: 2.5em;
}